nav, footer{
    padding: 1.2rem 0;
}

nav{
    border-bottom: 1px solid rgba(var(--main-dark), .175);
}

nav p{
    margin: 0;
}

nav .nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a, nav p{
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: rgba(var(--main-dark), 1);
}

nav a:hover{
    color: #000;
}

a.active:hover{
    color: rgba(var(--main-dark), 1);
}

.nav__left{
    justify-self: start;
}

.nav__left a{
    /*padding: 1rem;*/

    justify-content: start;
}

.nav__left a:hover{
    filter: drop-shadow(0 0 15px rgba(51, 51, 51, .3));
}

#logo{
    width: 40px;
}

.nav__links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.nav__links ul{

}

.nav__links a, .nav__links p{
    padding: .5rem 1rem;
    gap: .2rem;
}

.nav__links > ul > li:hover{
    color: #000;
    background-color: rgba(var(--main-sky_blue), 1);
}

.nav__links > ul > li:last-of-type{
    position: relative;
}

.nav__links > ul > li:last-of-type:hover{
    cursor: pointer;
    user-select: none;
}

.expandAccount{
    display: none;

    position: absolute;
    z-index: 10;
    right: 50%;
    transform: translateX(50%);
    top: calc(100% + .5rem);

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 20px;
    box-shadow: .1rem .1rem 15px rgba(0, 0, 0, .25);
}

.expandAccount a{
    padding: .75rem 1.5rem;
}

.expandAccount ul{
    display: block;
}

.expandAccount li:first-of-type{
    border-radius: 20px 20px 0 0;
}

.expandAccount li:last-of-type{
    border-radius: 0 0 20px 20px;
}

.expandAccount li:hover{
    background-color: rgba(var(--main-sky_blue), 1);
}

.expandAccount li+li{
    border-top: 1px solid rgba(0, 0, 0, .1);
}




footer{
    border-top: 1px solid rgba(var(--main-dark), .175);
}

footer img{
    width: 100px;
}

footer ul{
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: center;
}

footer li:not(:nth-child(4n + 1)){
    text-align: right;
}

footer a{
    margin: .5rem 1rem;

    text-decoration: none;
    color: rgba(var(--main-dark), 1);
}

footer a:hover{
    color: rgba(var(--main-dark), .5);
}

footer li:nth-child(4n + 1) a{
    margin-left: 0;
}

footer li:nth-child(4n) a{
    margin-right: 0;
}




.show{
    display: block;
}